{% extends "header.html" %}
{% load static%}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <div class="panel panel-default">
    <div class="panel-heading">Map View</div>
    <div class="panel-body">
        <div id='map' style='width: 100%; height: 600px;'></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoianBhbGx5IiwiYSI6ImNrYjl3dnNsczBpZTgzNW1kN3pud2VnamMifQ.HcBDAu7yMIcrgtKTedIhjQ';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-74.5, 40],
                zoom: 9
            });
            map.addControl(new mapboxgl.NavigationControl());
        </script>
    </div>
   </div>
   
  </body>
</html>
{% endblock %}