{% extends "header.html" %}
{% load static%}
{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img class="aligncenter" src="{% static 'images/5.png' %}" alt="Environmental Data Analytics System (EDAS)">
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img class="aligncenter" src="{% static 'images/6.png' %}" alt="Environmental Data Analytics System (EDAS)">
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img class="aligncenter" src="{% static 'images/3.png' %}" alt="Environmental Data Analytics System (EDAS)">
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="aligncenter" src="{% static 'images/header.png' %}" alt="Environmental Data Analytics System (EDAS)">
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img class="aligncenter" src="{% static 'images/1.png' %}" alt="Environmental Data Analytics System (EDAS)">
    </div>
</div>
{% endblock %}